.area {
    width: 85%;
    display: inline-block;
    background: lightblue;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.yellow {
    width: 10%;
    display: inline-block;
    background: yellow;
    height: 100vh;
}
.custom {
    cursor: url(revolver_2c.png), auto;
}
.bullet {
    position: absolute;
    background: black;
    right: 0px;
    width: 2em;
    height: 1em;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
/* star shape
.bullet {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #aeff25;
    width: 0px;
    height: 0px;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid #AEFF25;
    border-left:   100px solid transparent;
    -moz-transform:    rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform:     rotate(35deg);
    -o-transform:      rotate(35deg);
}
.bullet:before {
    border-bottom: 80px solid #AEFF25;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform:    rotate(-35deg);
    -ms-transform:     rotate(-35deg);
    -o-transform:      rotate(-35deg);

}
.bullet:after {
    position: absolute;
    display: block;
    color: #AEFF25;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #AEFF25;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform:    rotate(-70deg);
    -ms-transform:     rotate(-70deg);
    -o-transform:      rotate(-70deg);
    content: '';
}*/
